@model List<CategoryViewModel>
@{
    ViewData["Title"] = "Category";
    Layout = "~/Areas/Admin/Views/Shared/_StandartLayout.cshtml";
}

<body>
    <h1 class="mt-4">Kategori İşlemleri</h1>
    <div class="dropdown-divider"></div>

    <div class="container">
        <div class="col-md-12">
            <div class="row">

                <div class="col-xl-2 col-md-2">
                    
                </div>

                <div class="col-xl-8 col-md-8">
                    <div class="card bg-success text-white mb-4">
                        <div class="card-body">Kategori Ekle</div>
                        <div class="card-footer d-flex align-items-center justify-content-between">
                            <a class="small text-white stretched-link" asp-controller="Operations" asp-action="AddCategory">İşlem Yap</a>
                            <div class="small text-white"><i class="fas fa-plus"></i></div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-2 col-md-2">
                    
                </div>

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card-header">
                <i class="fas fa-table mr-1"></i>
                Kategoriler
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Ad</th>
                                <th>Açıklama</th>
                                <th>Ürün Sayısı</th>
                                <th>Düzenle / Sil</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var category in Model)
                            {
                                <tr>
                                    <td>@category.Id</td>
                                    <td>@category.Name</td>
                                    <td>@(category?.Description ?? "Detay Mevcut Değil")</td>
                                    <td>@category.CountOfProduct</td>
                                    <td>

                                        <form asp-action="DeleteCategory" asp-route-id="@category.Id" method="post">
                                            <a class="btn btn-outline-warning" asp-controller="Operations" asp-action="EditCategory" asp-route-id="@category.Id">Düzenle</a>


                                            <span id="confirmDeleteSpan_@category.Id" style="display: none">
                                                <div>Onaylıyor musunuz?</div>

                                                <button type="submit" class="btn btn-danger">Onayla</button>
                                                <a href="#" class="btn btn-primary" onclick="confirmDelete('@category.Id', false)">Vazgeç</a>
                                            </span>

                                            <span id="deleteSpan_@category.Id">
                                                <a href="#" class="btn btn-danger" onclick="confirmDelete('@category.Id', true)">Sil</a>
                                            </span>

                                        </form>
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>

</body>

@section scripts
{
    <script>
        function confirmDelete(uniqueId, isDeleteClicked) {
            var deleteSpan = 'deleteSpan_' + uniqueId;
            var confirmDeleteSpan = 'confirmDeleteSpan_' + uniqueId;

            if (isDeleteClicked) {
                $('#' + deleteSpan).hide();
                $('#' + confirmDeleteSpan).show();
            }
            else {
                $('#' + deleteSpan).show();
                $('#' + confirmDeleteSpan).hide();
            }
        }
    </script>
}