@using Project.abznotebook.Web.Pages
@model Address

@{
    var controllerName = this.ViewContext.RouteData.Values["controller"].ToString();
}

<style>
    .show-hide {
        visibility: hidden;
    }

    .col-md-4:hover .show-hide {
        visibility: visible;
    }

    .col-md-4:hover .card {
        z-index: 1;
        filter: drop-shadow(0 0 2px lightgray);
    }

    .card p, h3 {
        cursor: default;
    }
</style>

<div class="col-md-4" style="padding:0">
    <div class="card h-100" style="border-radius: 0; margin:0; padding:10px; padding-bottom:20px;">
        <div class="card-body">
            <div class="mb-4" style="width:100%; background-color:lightgray; padding: 10px; border-radius:5px">
                <h3 class="card-img-top text-center">@Model.Title</h3>
            </div>
            <div>
                <p>@Model.AddressLine</p>
                <p>@Model.Neighborhood</p>
                <p>@Model.City / @Model.District</p>
                <p>@Model.PostalCode</p>

                <form asp-area="Member" asp-controller="Address" asp-action="DeleteAddress" asp-route-id="@Model.Id" method="post">
                    
                    <a asp-action="EditAddress" asp-controller="Address" asp-area="Member" class="btn btn-primary show-hide" asp-route-addressId="@Model.Id">Düzenle</a>

                    <span id="confirmDeleteSpan_@Model.Id" style="display: none">
                        <br/>
                        <i>Onaylıyor musunuz?</i>
                        <button type="submit" class="btn btn-danger" style="width:100%">Onayla</button>
                        <a href="#" class="btn btn-primary" style="width:100%" onclick="confirmDelete('@Model.Id', false)">Vazgeç</a>
                    </span>

                    <span id="deleteSpan_@Model.Id">
                        <a href="#" class="btn btn-outline-danger show-hide" onclick="confirmDelete('@Model.Id', true)">Sil</a>
                    </span>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    function confirmDelete(uniqueId, isDeleteClicked) {
        var deleteSpan = 'deleteSpan_' + uniqueId;
        var confirmDeleteSpan = 'confirmDeleteSpan_' + uniqueId;

        if (isDeleteClicked) {
            $('#' + deleteSpan).hide();
            $('#' + confirmDeleteSpan).show();
        }
        else {
            $('#' + deleteSpan).show();
            $('#' + confirmDeleteSpan).hide();
        }
    }
</script>