@using Project.abznotebook.Web.Pages
@model FilterViewModel

@{
    var controllerName = this.ViewContext.RouteData.Values["controller"].ToString();
    var actionName = this.ViewContext.RouteData.Values["action"].ToString();
    string active = TempData["Active"]?.ToString();

}


<form class="col-md-3" id="form1" method="get" asp-controller="@controllerName" asp-action="@actionName">


    <div class="filter filter-first">
        <h6 class="font-weight-bold">MARKA</h6>

        <div class="mt-2 mb-2 pl-2">
            @foreach (var vendor in Model.Vendors)
            {
                <div class="mt-2 mb-2 pl-2">
                    <button type="submit" value="@vendor" class="btn btn-outline-danger @(active == vendor ? "active":"")" onclick="addSelectedVendor(this)">@vendor</button>
                </div>
            }
        </div>

        <input hidden asp-for="SelectedVendor" />
        <a asp-action="@actionName" asp-controller="@controllerName" class="btn btn-lg btn-block btn-warning mt-3">Sıfırla</a>

    </div>
</form>
